
h1,h2 {
    text-align: right;
    color: red;
    font-family: 'Roboto', sans-serif;
}
p {
    text-align: right;
}
body {
    background-color: black;
    color: white;
    background-image: url("pattern-wicker-lines.png");
}
em {
    font-style: italic;
    color: green;
    text-decoration-style: double;
    text-decoration-thickness: 5px;
}
strong {
    font-family: 'Caveat', sans-serif;
}